<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sign_upServlet</servlet-name>
        <servlet-class>Sign_upServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>my_propertiesServlet</servlet-name>
        <servlet-class>my_propertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>explore_room</servlet-name>
        <servlet-class>explore_room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Explo_room</servlet-name>
        <servlet-class>Explo_room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renter</servlet-name>
        <servlet-class>renter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rentersdetails1</servlet-name>
        <servlet-class>Rentersdetails1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QRpayment</servlet-name>
        <servlet-class>QRpayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>Transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPaymentServlet</servlet-name>
        <servlet-class>ConfirmPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>NotificationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sign_upServlet</servlet-name>
        <url-pattern>/Sign_upServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>my_propertiesServlet</servlet-name>
        <url-pattern>/my_propertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>explore_room</servlet-name>
        <url-pattern>/explore_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Explo_room</servlet-name>
        <url-pattern>/Explo_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renter</servlet-name>
        <url-pattern>/renter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rentersdetails1</servlet-name>
        <url-pattern>/Rentersdetails1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QRpayment</servlet-name>
        <url-pattern>/QRpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPaymentServlet</servlet-name>
        <url-pattern>/ConfirmPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/NotificationsServlet</url-pattern>
    </servlet-mapping>
</web-app>
